<!DOCTYPE html>
<html ng-app="roderick">
  <head>
    <title>Roderick Dictionary</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,500,300,100' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body ng-controller="DictCtrl">
    <div class="container" scroller="loadData()">
      <dl>
        <div ng-repeat="entry in entries">
          <dt>{{entry.word}}</dt>
          <dd>{{entry.definition}}</dd>
        </div>
      </dl>
    </div>
  </body>
</html>
