<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MyCtrl">
    <button ng-click="loadData()">Load Data From Server</button>
    <dl>
      <% @data.each_pair do |k,v| %>
        <dt><%= k %></dt>
        <dd><%= v %></dd>
      <% end %>
    </dl>
    <!--
    <ul>
      <li ng-repeat="item in items">ID: {{item.id}}, Name: {{item.name}}</li>
    </ul>
    -->
  </body>
</html>

