<!DOCTYPE html>
<html ng-app="roderick">
  <head>
    <title>Roderick Dictionary</title>
    <!--
    <script src="/angular.min.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body ng-controller="DictCtrl">
    <div class="container" scroller>
      <dl>
        <div ng-repeat="entry in entries">
          <dt>{{entry.word}}</dt>
          <dd>{{entry.definition}}</dd>
        </div>
      </dl>
    </div>
  </body>
</html>
