<!DOCTYPE html>
<html ng-app="roderick">
  <head>
    <script src="/angular.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body ng-controller="DictCtrl">
    <div class="container" when-scrolled="loadEntries()">
      <dl>
        <div ng-repeat="entry in words">
          <dt>{{entry.word}}</dt>
          <dd>{{entry.definition}}</dd>
        </div>
      </dl>
    </div>
  </body>
</html>
